/* login.css */

/* reset  */
#hd,
#ft,
#toptb {
    display: none;
}

body {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.whole {
    height: 100%;
    overflow: hidden;
}

.container {
    height: 100%;
    min-width: 1000px;
}

.login-box {
    width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: white;
    border-radius: 8px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 560px;
    overflow: hidden;
    box-shadow: 0 6px 20px 5px rgba(40, 120, 255, 0.1), 0 16px 24px 2px rgba(0, 0, 0, 0.05);
    transition: all .45s cubic-bezier(.23, 1, .32, 1.5);
}

.login {
    width: 100%;
    text-align: center;
    height: 560px;
    overflow: hidden
}

.cards {
    float: left;
    width: 440px;
    height: 560px;
    text-align: center;
    position: relative;
    left: 0;
    top: 0;
    color: white;
}

.login-form {
    width: 540px;
    float: right;
    position: relative;
}

.text-field-content {
    position: relative;
    padding-top: 28px;
    padding-bottom: 12px;
    display: block;
    height: 100%;
    font-size: 16px;
    width: 256px;
    min-height: 48px;
    display: block;
    position: relative;
    color: rgba(0,0,0,.54);
    margin-bottom: 8px;
}

.text-field-label{
    top: 8px;
    position: absolute;
    line-height: 20px;
    -webkit-transition: all .45s cubic-bezier(.23,1,.32,1);
    transition: all .45s cubic-bezier(.23,1,.32,1);
    z-index: 1;
    cursor: text;
    -webkit-transform: translateZ(0) scale(.75);
    transform: translateZ(0) scale(.75);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}