/* login.css */

/* reset  */
#hd,
#ft,
#toptb {
    display: none;
}

body {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.whole {
    height: 100%;
    overflow: hidden;
}

.container {
    height: 100%;
    min-width: 1000px;
}

.login-box {
    width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: white;
    border-radius: 8px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 560px;
    overflow: hidden;
    box-shadow: 0 6px 20px 5px rgba(40, 120, 255, 0.1), 0 16px 24px 2px rgba(0, 0, 0, 0.05);
    transition: all .45s cubic-bezier(.23, 1, .32, 1);
}

.login {
    width: 100%;
    text-align: center;
    height: 560px;
    overflow: hidden
}

.cards {
    float: left;
    width: 440px;
    height: 560px;
    text-align: center;
    position: relative;
    left: 0;
    top: 0;
    color: white;
}

.login-form {
    width: 540px;
    float: right;
    position: relative;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}